
.panel-group .panel-heading a:after {
  content: '-';
}
.panel-group .panel-heading a.collapsed:after {
  content: '+';
}
.medium-3{
  width:22%;
}
.switch
{
  position: relative;
  margin-bottom:-1px;
  display: inline-block;
  width: 30px;
  height: 12px;
}

.switch input
{
  display: none;
}

.slider
{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before
{
  position: absolute;
  content: "";
  height: 8px;
  width: 13px;
  left: 2px;
  bottom: 1.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider
{
  background-color: #2196F3;
}

input:focus + .slider
{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before
{
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */

.slider.round
{
  border-radius: 10px;
}

.slider.round:before
{
  border-radius: 60%;
}

ul.nav {
  position: relative;
  margin-left: 300px;
}

.dropdown-submenu {
  position: relative;
}
/*
.ec-menu {
  position: relative;
}
*/
.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
/*
.ec-submenu>.ec-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
*/
.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}
/*
.ec-submenu:hover>.ec-menu {
  display: block;
}
*/
.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
/*
.ec-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}
*/
.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}
/*
.ec-submenu:hover>a:after {
  border-left-color: #fff;
}
*/
.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
/*
.ec-submenu.pull-left>.ec-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
*/
@media (min-width: 768px) {
  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
  }

  ul.nav li.dropdown:hover ul.dropdown-menu li.dropdown-submenu ul.dropdown-menu {
    display: none;
  }

  ul.nav li.dropdown ul.dropdown-menu li.dropdown-submenu:hover ul.dropdown-menu {
    display: block;
  }
}
/*
  ul.ec-menu {
    display: none;
  }

  ul.nav li.economics:hover ul.ec-menu {
    display: block;
  }

  ul.nav li.economics ul.ec-menu li.ec-submenu ul.ec-menu {
    display: none;
  }

  ul.nav li.economics ul.ec-menu li.ec-submenu:hover ul.ec-menu {
    display: block;
  }
}*/
